body {
  user-select: none;
}

#app {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
}

#pixi-screen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#editScreen {
  background-color: #fcfded;
}
